<h1 class="text-center mb-5">
  New category
</h1>

<%= render "form", category: @category %>
<br>
<div class="float-end">
  <%= link_to "Back to categories", categories_path, class: "text-secondary" %>
</div>
